---
import Container from "./container.astro";
import Themeswitch from "./themeswitch.astro";
---

<Container class="mt-10 border-t border-gray-100 dark:border-gray-800">
  <footer class="flex flex-col items-center">
    <div class="flex items-center justify-between mt-2">
      <Themeswitch />
    </div>
    <p class="mt-1 text-sm text-center text-white-500 dark:text-white-600">
      No affiliation with <a href="https://www.valvesoftware.com/">Valve</a> | All
      logos belong to their respective owners
    </p>
    <p class="mt-1 text-sm text-center text-white-500 dark:text-white-600">
      18+ | Gamble responsibly | No betting advice
    </p>
    <div class="text-sm text-center mt-3">
      Copyright © {new Date().getFullYear()} Luniv Technology
    </div>
    <div
      class="flex justify-center gap-1 mt-1 text-sm text-center text-gray-500 dark:text-gray-600">
      <span>
        <a
          href="https://github.com/sieep-coding/cs2-lab"
          rel="noopener"
          target="_blank">
          Github
        </a>
      </span>
    </div>
  </footer>
</Container>
