---
import "@fontsource-variable/inter";
import Footer from "@/components/footer.astro";
import Navbar from "@/components/navbar.astro";
import { checkImageUrl } from "@/utils/all";
import { SEO } from "astro-seo";

export interface Props {
  title?: string;
  desc?: string;
  ogimage?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const { title, desc, ogimage = "/opengraph.png" } = Astro.props;

const resolvedOGImage = checkImageUrl(ogimage, Astro.site);

const makeTitle = title
  ? title + " | " + "CS2 Blog"
  : "CS2 Blog — Learn Counter-Strike 2 Strategies, Tips, and Tutorials";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/android-chrome-512x512.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={makeTitle}
      description={desc ||
        "CS2 Blog — Learn Counter-Strike 2 Strategies, Tips, and Tutorials"}
      canonical={canonicalURL}
      twitter={{
        creator: "@/surjithctly",
        site: "@/web3templates",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `CS2 Blog — Learn Counter-Strike 2 Strategies, Tips, and Tutorials`,
          image: resolvedOGImage,
        },
        image: {
          alt: "CS2 Blog — Learn Counter-Strike 2 Strategies, Tips, and Tutorials",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
